@import url('https://fonts.googleapis.com/css?family=Kanit:100');

body{
  margin-top: 100px;
  background-color: #D5D5D5;
font-family: 'Kanit', sans-serif;
}
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
         border-radius: 20px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border:0;
}

.card-body{
   padding: 0;

}
/* the right coulomn */
.rightCol {
height: 700px;
      border-radius: 20px 0 0 20px ;
    background: linear-gradient(to bottom right, #F3508D, #f78067);
    color: #fdf3f4;
    padding: 5%;
}
#degree{
    font-size: 120px;
}
.leftCol {
height: 700px;
color:#B3B3B3;
    padding: 5%;
}

/* the left coulomn */


/* the toggle button */
/** Switch
 -------------------------------------*/
