@import url('https://fonts.googleapis.com/css?family=Martel+Sans:200');

body{
  margin-top: 100px;
  background-color: #D5D5D5;
font-family: 'Martel Sans', sans-serif;
}
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
         border-radius: 20px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border:0;
}
/* the left coulomn */
.card-body{
   padding: 0;

}

.rightCol {
height: 700px;
      border-radius: 20px 0 0 20px ;
    background: linear-gradient(to bottom right, #F3508D, #f78067);
    color: #fdf3f4;
    padding: 5%;
}


/* the toggle button */
/** Switch
 -------------------------------------*/
